# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
#create a function check the lesser of two numbers
def lesser_of_two_evens(num1, num2):
    
    #using modulus to check and compare between them
    if num1 % 2 == 0 and num2 % 2 == 0 :
        
        #return the minimum value
        return min(num1, num2)
            
    else :
        
        #return the maximum value
        return max(num1, num2)

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [4]:
#create a function to compare between the first letter in both
def animal_crackers(text):
    
    #use spilt() to put the test in list to compare
    t = text.split()
    
    #condition to compare first letter in both
    if t[0][0] == t[1][0]:
    
        return True
    
    else:
    
        return False

In [5]:
# Check
animal_crackers('Levelheaded Llama')

true

In [6]:
# Check
animal_crackers('Crazy Kangaroo')

false

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [8]:
#create a function to check if the sum of the integers is 20 or if one of the integers is 20
def makes_twenty(n1,n2):
    
    #condition to compare
    if n1 == 20 or n2 == 20 or n1 + n2 == 20 :
    
        return True
    
    else :
        
        return False

In [9]:
# Check
makes_twenty(20,10)

True

In [10]:
# Check
makes_twenty(2,3)

False

In [11]:
# Check
makes_twenty(12,8)

True

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [12]:
#create a function that capitalizes the first and fourth letters of a name
def old_macdonald(name):
    
    # make a variable to store in it
    letter = ''
    
    #loop on length of name
    for i in range(len(name)):
    
        #condition to check the first letter
        if i == 0:
            
            #capitalize it
            letter = letter + name[0].upper()
        
        #condition to check the fourth letter
        elif i == 3:
            
            #capitalize it
            letter = letter + name[3].upper()
        
        else:
            #let the other letters without any change
            letter = letter + name[i]
    
    return letter

In [13]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [14]:
#create a function check if number is within 10 of either 100 or 200
def almost_there(n):
    
    # coundition to check the range of 90 to 110 and 190 to 210
    if ( abs(100 -n) < 10 ) or ( abs(200-n) < 10 ):
    
        return True
    
    else:
    
        return False

In [15]:
# Check
almost_there(104)

True

In [16]:
# Check
almost_there(150)

False

In [17]:
# Check
almost_there(209)

True

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [18]:
#create a function to check if the array contains a 3 next to a 3
def has_33(nums):
    
    #loop in range of the first value to 
    for i in range(0, len(nums)-1):
    
        #compare between the value the next to it
        if nums[i] == 3 and nums[i+1] == 3:
        
            return True
    
    return False

In [19]:
# Check
has_33([1, 3, 3])

True

In [20]:
# Check
has_33([1, 3, 1, 3])

False

In [21]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [22]:
#create a function return a string where for every character in the original there are three characters
def paper_doll(text):
    
    # make a variable to store in it
    string = ''
    
    #loop on the text
    for t in text:
        
        #triple the letter
        string += t * 3
    
    return string

In [23]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [24]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [50]:
#create that check the sum of numbers is <= 21 or < 21 or reduce the total sum by 10 > 21
def blackjack(a,b,c):
    
    #create a list to store the value and sum them to check
    nums = [a, b, c]
    
    #coundition to cheak the sum of numbers is <= 21
    if sum(nums) <= 21:
        return sum(nums)
    
    #coundition to cheak the sum of numbers is > 21
    elif sum(nums) > 21:
        
        #coundition if 11 in the list
        if 11 in nums:
        
            #conidition to reduce the sum by 10 and check the sum of numbers is > 21
            if sum(nums) - 10 > 21:
            
                return 'BUST'
            
            else: 
                #return reduced sum
                return sum(nums)-10
    
    return 'BUST'

In [51]:
# Check
blackjack(5,6,7)

18

In [52]:
# Check
blackjack(9,9,9)

'BUST'

In [53]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [25]:
#create a function to the sum except ignore sections of numbers starting with a 6 and extending to the next 9 Return 0 for no numbers
def summer_69(arr):
    
    # make a variable to store in it
    Sum = 0
    
    #loop on range of 0 to length of the list
    for n in range(0, len(arr)):
        
        #Coudition to check numbers starting with a 6
        if arr[n] < 6:
            
            Sum += arr[n]
        
        #coudition to check extending to the next 9
        elif arr[n] > 9 :
            
            Sum += arr[n]
            
    return Sum

In [26]:
# Check
summer_69([1, 3, 5])

9

In [27]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [28]:
# Check
summer_69([2, 1, 6, 9, 11])

14

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [42]:
#craete a function to 
def spy_game(nums):

    #make a list to compare by it
    test = [0,0,7,'x']

    #loop on the list to find 007
    for n in nums:
        
        #coundition to compare between the two lists
        if n == test[0]:
        
            # remove first number from the created list to remove 007 
            test.pop(0)
            
    return len(test) == 1

In [43]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [44]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [45]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [48]:
#create a function to returns the number of prime numbers that exist up to and including a given number
def count_primes(num):
    
    #make a variable
    i = 0
    
    #loop on range of the number + 1
    for item in range(num+1):
        
        #condition to check that the item <= 1
        if item <= 1:
        
            continue
        
        #condition to check that the item = 2
        if item == 2:
            
            i=1
            continue
        
        #loop from 2 to the item
        for n in range(2, item):
        
            #condition using mouduls to check
            if item % n == 0:
                
                break
        
        else:
        
            i += 1
            
    return i

In [49]:
# Check
count_primes(100)

25

## Great Job!